<html>
    <head>
        <script src="./vue.js"></script>
    </head>
    <body>
        <div id="app">
                <input-number v-model="value" v-bind:max="2" v-bind:min="-1"></input-number>
                <input-number v-model="value2" v-bind:max="10" v-bind:min="0"></input-number>
                <input-number v-model="value3" v-bind:max="20" v-bind:min="-10"></input-number>
                <input-number v-model="value4" v-bind:max="200" v-bind:min="-100"></input-number>
        </div>
        -----
       
        <script>
            
// 组件-----------------------------
function isValueNumber(value){
    return (/(^-?[0-9]+\.{1}\d+$)|(^-?[1-9][0-9]*$)|(^-?0{1}$)/).test(value)
}
Vue.component('input-number',{
    template:`
    <div class="input-number">
            <input type="text"
        v-bind:value="currentValue" v-on:change="handleChange">
        <button
        v-on:click="handleDown" v-bind:disabled="currentValue<=min">-</button>
        <button 
        v-on:click="handleUp" v-bind:disabled="currentValue >=max">+</button>
    </div>
    `,
    props:{
        max:{
            type:Number,
            default:Infinity
        },
        min:{
            type:Number,
            default:-Infinity
        },
        value:{
            type:Number,
            default:0
        }
    },
    data:function(){
        return {
            currentValue:this.value
        }
    },
    watch:{
        currentValue:function(v){
            this.$emit('input',v)
            this.$emit('on-change',v)
        },
        value:function(v){
            this.updateValue(v)
        }
    },
    methods:{
        updateValue:function(v){
            if(v>this.max) v = this.max;
            if(v<this.min) v=this.min;
            this.currentValue = v
        },
        handleDown:function(){
            if(this.currentValue<=this.min) return
            this.currentValue -=1
        },
        handleUp:function(){
            if(this.currentValue >=this.max) return
            this.currentValue+=1
        },
        handleChange:function(e){
            var val = e.target.value.trim()
            var max = this.max
            var min = this.min
            if(isValueNumber(val)){
                val = Number(val)
                this.currentValue = val
                if(val>max){
                    this.currentValue = max;
                }else if(val < min){
                    this.currentValue = min
                }
            }else{
                e.target.value = this.currentValue;
            }
        }
    },
    mounted:function(){
        this.updateValue(this.value)
    }
})
// ---------------------------------
        var app = new Vue({
            el:"#app",
            data:{
                value:5,
                value2:1,
                value3:2,
                value4:3,
            }
        })
        </script>
    </body>
</html>